body {
    background-color: black;
    font-family: 'Asap', sans-serif;
}

/*************************************************************
CSS Box Model Info -
Content - where images and text appear.
Padding - this creates the space directly around the content.
Margin - this creates space outside of the border area.
**************************************************************/

#container, header {
    margin: auto;
    background-color: #fff;
    color: black;
    margin-top: 20px;
    padding: 20px;
    width: 50%;
    height: auto;
}

header {
    margin-bottom: -20px;  
    height: 40px;
    background-color: darkorange; 
    color: white;
}

nav ul {
    float: right;
    padding-bottom: 20px;
    font-style: arial, sans-serif;
    list-style-type: none;
    width: 30%;
 }

 nav li {
    color: white;
    display: inline;
    padding: 0 10px;
    padding-right: 0px;
    margin-right: 0px;
 }

 nav a {
     color: white;
     text-decoration: none;
 }

 nav a:hover {
     color: darkred;
 }

#left-col {
    float: left;
    max-width: 45%;
    height: auto;
}

#right-col {
    float: right;
    height: auto;
    max-width: 45%;
}

#right-col img {
    max-width: 100%;
}

#left-col h1 {
    color: #A64AC9;
}

#left-col a {
    color: #A64AC9;
    font-size: 1em;
    text-decoration: none;
    padding: 10px;
    border-style: solid;
    border-color: #A64AC9;
    border-width: 2px;
    border-radius: 5px;
}

#right-col img {
    width: 350px;
}

.pink a {
    color: #A64AC9;
    text-decoration: none;
}

#github-link {
    margin: 50px 0px;
}

#more-text {
    clear: both;
    text-align: left;
    padding-bottom: 30px;
}

footer {
    color: white;
    width: 100%;
    padding: 30px 0;
    margin: auto;
    text-align: center;
}